.TapPageDiv_div {
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  padding: 0em 0em;
  padding-top: 1em;
  justify-content: space-between;
  animation: opacityAnime 0.3s linear;
}
.TapPageDiv_area_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}

.TapPageDiv_area_1_profile_name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
}
.TapPageDiv_area_1_profileAmountClaimes {
  display: flex;
  font-weight: 700;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
}
.event_sideBar_div_area_last_div_cont1_title_gif {
  width: 50px;
  margin-bottom: 10px;
}
.TapPageDiv_area_1_profileAmountClaimes_span {
  display: flex;
  align-items: center;
}
.TapPageDiv_area_1_profileAmountClaimes_Span_txt {
  font-size: 11px;
  font-weight: 500;
  color: #878787;
  margin-top: -5px;
}
.TapPageDiv_area_1_profileAmountClaimes_Span_txt2 {
  font-size: 9px;
  font-weight: 500;
  color: #6ea18b;
  border: solid 1px #d4ece2;
  padding: 6px;
  border-radius: 10px;
  margin-top: 0px;
  text-align: center;
  line-height: 1.5;
  background: #12b66f0f;
  width: 70%;
}
.TapPageDiv_area_3 {
  margin-bottom: 5px;
}
.TapPageDiv_area_2 {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TapPageDiv_animation {
  width: 75%;
}
.TapPageDiv_area_3_btn {
  width: -webkit-fill-available;
  padding: 18px 15px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background: #11b66e;
  color: #ffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TapPageDiv_area_3_btn:disabled {
  background: #12b66f7a;
  cursor: pointer;
}
.TapPageDiv_area_3_btn2 {
  width: -webkit-fill-available;
  padding: 18px 15px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  background: #12b66fab;
  color: #ffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}
.TapPageDiv_area_3_btn2_span {
  align-items: flex-start;
  display: flex;
}
.TapPageDiv_area_1_profile_icon {
  width: 70px;
}
.TapPageDiv_area_3_btn_gif {
  width: 20px;
}
.TapPageDiv_area_3_btn_Span {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.TapPageDiv_area_3_btn_gif {
  width: 20px;
  margin-bottom: 4px;
}
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
.TapPageDiv_animation1 svg g g g:nth-child(15) {
  display: none !important;
}
.TapPageDiv_animation1 svg g g g:nth-child(16) {
  display: none !important;
}
.TapPageDiv_animation1 svg g g g:nth-child(17) {
  display: none !important;
}
.TapPageDiv_animation1 svg g g g:nth-child(18) {
  display: none !important;
}
.TapPageDiv_animation2 svg g g g:nth-child(17) {
  display: none !important;
}
.TapPageDiv_animation2 svg g g g:nth-child(11) {
  display: none !important;
}
.TapPageDiv_animation2 svg g g g:nth-child(18) {
  display: none !important;
}
.TapPageDiv_animation2 svg g g g:nth-child(19) {
  display: none !important;
}
.TapPageDiv_animation3 svg g g g:nth-child(20) {
  display: none !important;
}
.TapPageDiv_animation3 svg g g g:nth-child(21) {
  display: none !important;
}
.TapPageDiv_animation3 svg g g g:nth-child(22) {
  display: none !important;
}
.TapPageDiv_animation3 svg g g g:nth-child(23) {
  display: none !important;
}

/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
/* ============== */
