.Referral_div {
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  padding: 0em 0em;
  padding-top: 2em;
  justify-content: space-between;
  animation: opacityAnime 0.3s linear;
}
.Referral_div_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Referral_div_1_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.Referral_div_1_span {
  font-size: 15px;
  line-height: 1.5;
  color: #4a6159;
  width: 90%;
}
.Referral_div_2_animation {
  width: 70%;
}
.Referral_div_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redeemModal_cont_body_3_inputb {
  padding: 18px;
  border-radius: 10px;
  border: solid 1px #b1d5c8;
  background: #11b66e17;
  color: #1f7054;
  font-size: 13px;
}
