.Referral_div {
  height: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  padding: 0em 0em;
  padding-top: 2em;
  justify-content: space-between;
  animation: opacityAnime 0.3s linear;
}
.Referral_div_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Referral_div_1_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.Referral_div_1_span {
  font-size: 15px;
  line-height: 1.5;
  color: #4a6159;
  width: 70%;
}
.Referral_div_2_animation {
  width: 70%;
}
.Referral_div_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redeemModal_cont_body_3_inputb {
  padding: 18px;
  border-radius: 10px;
  border: solid 1px #b1d5c8;
  background: #11b66e17;
  color: #1f7054;
  font-size: 13px;
}
.Referral_div_2_refs {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.Referral_div_2_refs_title {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.6em;
  background: #d7efe5;
  border-radius: 10px;
  border: solid 1px #bfd9ce;
  color: #768f85;
  margin-bottom: 1em;
}
.Referral_div_2_refs_title_span2 {
  color: #000;
  font-weight: 600;
}
.Referral_div_2_refs_body {
  display: flex;
  flex-direction: column;
}
.Referral_div_2_refs_body_cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  border: solid 1px #9bd1b9;
  padding: 1em;
  border-radius: 10px;
  background: #fff;
  font-size: 14px;
}
.Referral_div_2_refs_body_cont1_username_div {
  display: flex;
  align-items: center;
}
.Referral_div_2_refs_body_cont1_username_div_icon {
  width: 25px;
  margin-right: 4px;
  margin-bottom: 3px;
}
.Referral_div_2_refs_body_cont1_status_div {
  color: #67b493;
}
